---
import BaseLayout from "~layouts/BaseLayout.astro";

const title = "Novelty Cycles Home";
const description = "Novelty cycles home page, step in and explore our world.";
---

<BaseLayout description={description} title={title}>
  <main>
    <h2>About us</h2>
    Read all about us&hellip;
  </main>
</BaseLayout>
