---
import Menu from "~/components/Menu";
import "~styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const { description, title }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <header>
    <div class="header-wrapper">
      <h1><a href="/">Novelty Cycles</a></h1>
      <Menu client:load />
    </div>
  </header>
  <body>
    <slot />
  </body>
  <footer>
    <div class="footer-wrapper"><a href="/about">About Novelty Cycles</a></div>
  </footer>
  <style>
    header {
      display: flex;
      background-color: var(--colour-brand);
      color: var(--colour-light);
      padding-block: var(--spacing-4);
      margin-bottom: var(--spacing-12);
    }

    header a {
      color: inherit;
    }

    .header-wrapper {
      width: calc(var(--max-width-full) - var(--spacing-12));
      margin-inline: var(--spacing-6);
    }

    @media screen and (min-width: 48rem) {
      .header-wrapper {
        width: min(
          var(--max-width-full) - var(--spacing-24),
          var(--max-width-wrapper)
        );
        margin-inline: auto;
      }
    }

    footer {
      background-color: var(--colour-alt);
      padding-block: var(--spacing-8);
      font-size: var(--font-size-2);
    }

    footer a {
      color: inherit;
    }

    .footer-wrapper {
      display: grid;
      place-items: center;
      width: calc(var(--max-width-full) - var(--spacing-12));
      margin-inline: var(--spacing-6);
    }

    @media screen and (min-width: 48rem) {
      .footer-wrapper {
        width: min(
          var(--max-width-full) - var(--spacing-24),
          var(--max-width-wrapper)
        );
        margin-inline: auto;
      }
    }
  </style>


</html>
